@page "/employee/create"

@using Turntablio.RoleService.Data.Model

<h3>EmployeeForm</h3>

<EditForm Model="employee" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>First Name</label>
        <div>
            <InputText class="form-control" @bind-Value="@employee.employeefname" />
            <ValidationMessage For="@(() => employee.employeefname)" />
        </div>
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <div>
            <InputText class="form-control" @bind-Value="@employee.employeelname" />
            <ValidationMessage For="@(() => employee.employeelname)" />
        </div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <div>
            <InputText class="form-control" @bind-Value="@employee.employeeemail" />
            <ValidationMessage For="@(() => employee.employeeemail)" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">Save</button>

</EditForm>

@code {
    [Parameter] public Employee employee { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}

