@page "/editEmployee/{empId}"

@inject Turntablio.RoleService.Data.Services.EmployeeService  employeeService
@inject NavigationManager navigationManager

<h3>Update Employee</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="firstname">First Name </label>
                <input form="firstname" class="form-control" @bind="@employee.EmployeeFirstName" />
            </div>
            <div class="form-group">
                <label>Last Name </label>
                <input form="lastname" class="form-control" @bind="@employee.EmployeeLastName">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input form="email" class="form-control" @bind="@employee.EmployeeEmail">
            </div>
            <div class="form-group">
                <label>Address </label>
                <input form="address" class="form-control" @bind="@employee.EmployeeAddress">
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary mr-4" @onclick="@UpdateEmployee" value="Update">
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel">
            </div>
        </div>
    </div>
</form>


@code {

    [Parameter]
    public string  empId {get; set;}

    Employee employee = new Employee();

    protected override async Task OnInitializedAsync()
    {
        employee = await Task.Run(() => employeeService.GetEmployeeById(Convert.ToInt32(empId)));
    }

    protected void UpdateEmployee()
    {
        employeeService.UpdateEmployee(employee);
        navigationManager.NavigateTo("employees");
    }

    protected void Cancel()
    {
        navigationManager.NavigateTo("employees");

    }

}
