@page "/editEmployee/{empId}"

@inject Turntablio.RoleService.Data.Services.EmployeeService  employeeService
@inject NavigationManager navigationManager

<h3>Update Employee</h3>
<hr />

<div class="row lead">
    <div class="col-md-8">
        <EditForm Model="@employee" OnValidSubmit="@UpdateEmployee">
            <DataAnnotationsValidator />
            <ValidationSummary Model="@employee" />

            <div class="form-group">
                <label for="employeefname" class="control-label">First Name</label>
                <InputText id="employeefname" class="form-control" @bind-Value="employee.EmployeeFirstName" />
                <ValidationMessage For="@(() => employee.EmployeeFirstName)" />
            </div>
            <div class="form-group">
                <label for="employeelname" class="control-label">Last Name</label>
                <InputText id="employeefname" class="form-control" @bind-Value="employee.EmployeeLastName" />
                <ValidationMessage For="@(() => employee.EmployeeLastName)" />
            </div>
            <div class="form-group">
                <label asp-for="employeeemail" class="control-label">Email</label>
                <InputText id="employeeemail" class="form-control" @bind-Value="employee.EmployeeEmail" />
                <ValidationMessage For="@(() => employee.EmployeeEmail)" />
            </div>
            <div class="form-group">
                <label asp-for="employeeaddress" class="control-label">Address</label>
                <InputText id="employeeaddress" class="form-control" @bind-Value="employee.EmployeeAddress" />
                <ValidationMessage For="@(() => employee.EmployeeAddress)" />
            </div>
            <br />

            <div class="form-group">
                <button type="submit" class="btn btn-primary mr-4">Update</button>
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel">
            </div>

            <ValidationSummary/>
        </EditForm>
    </div>
</div>


@code {

    [Parameter]
    public string empId { get; set; }

    Employee employee = new Employee();

    protected override async Task OnInitializedAsync()
    {
        employee = await Task.Run(() => employeeService.GetEmployeeById(Convert.ToInt32(empId)));
    }

    protected void UpdateEmployee()
    {
        employeeService.UpdateEmployee(employee);
        navigationManager.NavigateTo("employees");
    }

    protected void Cancel()
    {
        navigationManager.NavigateTo("employees");
    }
}
