@page "/employeeDetail/{empId}"

@using Turntablio.RoleService.Data
@inject Turntablio.RoleService.Data.Services.EmployeeService  employeeService
@inject NavigationManager navigationManager

<h3> Employee Detail</h3>
<hr />

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>First Name : </label>
            <label>@employeeDetail.EmployeeFirstName</label>
        </div>
        <div class="form-group">
            <label>Last Name : </label>
            <label>@employeeDetail.EmployeeLastName</label>
        </div>
        <div class="form-group">
            <label>Last Name : </label>
            <label>@employeeDetail.EmployeeEmail</label>
        </div>
        <div class="form-group">
            <label>Last Name : </label>
            <label>@employeeDetail.EmployeeAddress</label>
        </div>
        <div class="form-group">
            <label>Role(s) : </label>
            @if (@employeeDetail.RolesViewModel == null)
            {
                <span class="badge badge-pill badge-danger"> Not Assigned </span>
            }
            else
            {
                @foreach (var r in employeeDetail.RolesViewModel)
                {
                    <span class="badge badge-pill badge-secondary">@r.RoleName</span>
                }

            }
            

          



        </div>
       
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Back" value="Back" />
        </div>
    </div>
</div>



@code {

    [Parameter]
    public string empId { get; set; }

    EmployeeRoleViewModel employeeDetail = new EmployeeRoleViewModel();

    protected override async Task OnInitializedAsync()
    {
        employeeDetail = await Task.Run(() => employeeService.GetEmployeeDetailById(Convert.ToInt32(empId)));
    }

    void Back()
    {
        navigationManager.NavigateTo("employees");
    }
}
