@page "/employeeDetail/{empId}"

@using Turntablio.RoleService.Data
@inject Turntablio.RoleService.Data.Services.EmployeeService  employeeService
@inject NavigationManager navigationManager

<h3> Employee Detail</h3>
<hr />

<div class="row">
    <div class="col-md-8 lead">
        <div class="form-group">
            <label>First Name : </label>
            <label>@employeeDetail.EmployeeFirstName</label>
        </div>
        <div class="form-group">
            <label>Last Name : </label>
            <label>@employeeDetail.EmployeeLastName</label>
        </div>
        <div class="form-group">
            <label>Email : </label>
            <label>@employeeDetail.EmployeeEmail</label>
        </div>
        <div class="form-group">
            <label>Address : </label>
            <label>@employeeDetail.EmployeeAddress</label>
        </div>
        <div class="form-group">
            <label>Role : </label>
            @if (@employeeDetail.RolesViewModel== null || @employeeDetail.RolesViewModel.Count == 0)
            {
                <span class="badge badge-pill badge-danger">Not Assigned</span>
            }
            else
            {
                @foreach (var r in employeeDetail.RolesViewModel)
                {
                    <span class="badge badge-pill badge-secondary">@r.RoleName</span>
                }
            }
        </div>
    </div>
</div><br />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary mr-4" @onclick="@Back" value="Back" />
            <input type="button" class="btn btn-primary" @onclick="@Update" value="Update" />
        </div>
    </div>
</div>



@code {

    [Parameter]
    public string empId { get; set; }

    EmployeeRoleViewModel employeeDetail = new EmployeeRoleViewModel();

    protected override async Task OnInitializedAsync()
    {
        employeeDetail = await Task.Run(() => employeeService.GetEmployeeDetailById(Convert.ToInt32(empId)));
    }

    void Back()
    {
        navigationManager.NavigateTo("employees");
    }

    void Update()
    {
        navigationManager.NavigateTo("editEmployee/" + empId);
    }
}
